body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#ff758c,#ff7eb3);
color:white;
text-align:center;
overflow-x:hidden;
}

#loginPage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.entryGallery img{
width:90px;
border-radius:12px;
margin:5px;
}

#mainPage{display:none;}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:10px;
padding:20px;
}

.gallery img{width:100%;border-radius:12px;}

button{
padding:14px 22px;
margin:10px;
border:none;
border-radius:12px;
font-size:18px;
cursor:pointer;
}

.yes{background:#00e676;color:black;}
.no{background:#ff1744;color:white;}

#message{display:none;}
.name{font-size:2.4rem;font-weight:bold;}
